
---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-json
      - id: debug-statements
      - id: detect-private-key
      - id: requirements-txt-fixer
