name: Test
on:
  push:
    branches:
      - main
      - master
  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.25.5
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
